<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WriteBright</title>
    <link rel="stylesheet" href="/static/blog/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {% if user.is_authenticated %}
            <a href="/create/">New Blog</a>
            <a href="/myblogs/">My Blogs</a>
            <a href="/logout/">Logout</a>
            <span id="welcome-message" style="
    font-style: italic; 
    color: skyblue; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-left: auto; 
    display: block; 
    text-align: right;">
  Welcome, {{ user.username }}
</span>
        {% else %}
            <a href="/login/">Login</a>
            <a href="/signup/">Signup</a>
        {% endif %}
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>